{% extends 'base.html' %}

{% block content %}
  <table>
    <thead>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Salary</th>
      </tr>
    </thead>
    
    <tbody>
      {% for employee in employees %}
        <tr>
          <td>{{ employee.last_name }}</td>
          <td>{{ employee.first_name }}</td>
          <td>${{ employee.salary }}</td>
        </tr>
      {% empty %}
        No employees yet
    {% endfor %}
    </tbody>
  </table>
{% endblock %}