{% extends 'base.html' %}

{% block content %}
  <div class="card">
    <div class="card-content">
      <span class="card-title">Save employee</span>
      <form action="http://127.0.0.1:8000/get_post_employee/" method="POST">
        {% csrf_token %}
        
        <label for="id_last_name">Last name:</label>
        <input type="text" name="last_name" maxlength="250" required="" id="id_last_name">

        <label for="id_first_name">First name:</label>
        <input type="text" name="first_name" maxlength="250" required="" id="id_first_name">

        <label for="id_salary">Salary:</label>
        <input type="number" name="salary" step="0.01" required="" id="id_salary">

        <button class="btn waves-effect waves-light" type="submit" name="action">
          Submit
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
{% endblock %}